{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YT-Together</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body class="bg-gray-900">


    <nav class="bg-gray-900 fixed top-0 left-0 w-full dark:bg-gray-900 md:px-14 border border-gray-700 z-50">
        <div class="flex md:flex-wrap md:items-center md:justify-between mx-auto p-4">
        <div class="h-auto my-auto">
            <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="{% static 'img/yt-icon.png' %}" class="h-9 min-w-6" alt="Flowbite Logo" />
                <span class="self-center text-lg font-semibold whitespace-nowrap text-white hidden md:block">WatchTube Together</span>
            </a>
        </div>
        <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            {% block search %}
                <div class="flex gap-x-4 md:gap-x-8">
                    <!--Search-->
                    <form method="POST" action="{% url 'home' %}" class="relative">
                        {% csrf_token %}
                        <input name="search" type="text" class="pl-4 pr-10 border text-white h-9 md:w-96 rounded-md bg-gray-700 border-gray-600 focus:ring-white" placeholder="Search">
                        <button type="submit" class="absolute right-2 top-7 transform -translate-y-1/2 text-white hover:text-gray-400">
                            <i class="fas fa-search text-gray-400"></i>
                        </button>
                    </form>

                    <!--Profile-->
                    <div class="h-auto my-auto">
                        <button type="button" class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
                            <span class="sr-only">Open user menu</span>
                            <img class="w-8 h-8 rounded-full" src="{{profile_picture}}" alt="user photo">
                        </button>
                    </div>
                </div>

                    <!-- Dropdown menu -->
                    <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="user-dropdown">
                        <div class="px-4 py-3">
                            <span class="block text-sm text-gray-900 dark:text-white">Bonnie Green</span>
                            <span class="block text-sm  text-gray-500 truncate dark:text-gray-400">name@flowbite.com</span>
                        </div>
                        <ul class="py-2" aria-labelledby="user-menu-button">
                            <li>
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Dashboard</a>
                            </li>
                            <li>
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Settings</a>
                            </li>
                            <li>
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Earnings</a>
                            </li>
                            <li>
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endblock %}
        </div>
      </nav>
      

    {% block content %}
    
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <script src="{% static 'js/base.js' %}"></script>
    
    {% block script %}
    {% endblock %}
</body>
</html>