{% extends 'main/base/base.html' %}
{% load static %}

{% block content %}
    <div class="w-full h-screen flex">
        <div class="w-80 h-full font-roboto border-r border-r-gray-800 bg-gray-800 pt-20 px-2">
            <h1 class="text-white font-semibold text-xl">Friends</h1>
            <!--Friends container-->
            <div class="flex flex-col mt-6 pl-2 gap-y-8">
                <!--Friend Card-->
                <div class="w-full flex gap-x-4">
                    <!--Friend Image-->
                    <div class="w-11 h-11 rounded-full bg-white"></div>

                    
                    <div class="flex flex-col font-roboto text-white">
                        <!--Friend name-->
                        <h1>Justin Zapanta</h1>
                        
                        <!--Status-->
                        <div class="flex gap-x-1">
                            <div class="my-auto">
                                <div class="w-3 h-3 rounded-full bg-emerald-500"></div>
                            </div>
                            <h3 class="text-sm text-emerald-500">Online</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full md:px-7 lg-px10 pt-24 flex flex-col relative">
            <!--Hero-->
            <div class="bg-gray-800 w-full h-96 font-roboto  rounded-2xl grid grid-cols-2">
                <div class="w-full h-full flex flex-col justify-center px-6">
                    <h1 class="text-white text-4xl text-center font-semibold">Watch <span class="">Youtube</span> Together</h1>

                    <div class="flex justify-center mt-8">
                        <div class="flex gap-x-6">
                            <button onclick="display_modal('join-modal', 'true')" class=" text-lg font-semibold px-14 py-2.5 rounded-xl bg-white hover:bg-gray-200">Join</button>
                            <button onclick="create_room()" class="text-white text-lg font-semibold px-14 py-2.5 rounded-xl bg-blue-600 hover:bg-blue-700">Create</button>
                        </div>
                    </div>
                </div>

                <!--Image-->
                <div class="w-full h-full flex flex-col justify-center">
                    <div class="w-full flex justify-center">
                        <!--Put image here-->
                    </div>
                </div>
            </div>

            <!--Trending-->
            <div class="w-full mt-10">
                <h1 class="text-white font-roboto font-semibold text-2xl">Trending Now</h1>

                <div class="w-full bg-gray-800 mt-4 rounded-2xl px-6 py-4">
                    <div class="w-full bg-gray-800 rounded-xl">
                        <h1 class="font-roboto font-semibold text-2xl text-white">Trending Now</h1>
                    
                        <div class="grid mt-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
                            {% for recommended in recommendations %}
                                <a onclick="create_room('{{recommended.id}}')" class="flex flex-col rounded-lg hover:cursor-pointer">
                                    <div class="relative mb-2" style="padding-top: 56.25%;"> <!-- Aspect ratio of 16:9 -->
                                        <img src="{{recommended.image}}" class="absolute top-0 left-0 object-cover w-full h-full rounded-lg" alt="{{recommended.title}}">
                                    </div>
                                    <h2 class="text-center mt-2  text-white line-clamp-2 overflow-hidden">
                                        {{recommended.title}}
                                    </h2>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>


            <!--Join Modal-->
            <div id="join-modal" class="w-full h-full flex hidden flex-col justify-center absolute top-0 left-0">
                <div class="w-full flex justify-center">
                    <div class="w-96 font-roboto px-4 py-6 bg-gray-800 shadow-2xl border border-gray-900 rounded-xl">
                        <h1 class="text-white text-xl">Join Room</h1>

                        <div class="mt-4 w-full">
                            <h1 id="notif" class="text-red-400 text-sm text-center hidden">Invalid Code</h1>
                            <h1 class="font-roboto text-white text-sm">Enter Code</h1>
                            <input id="code_input" type="text" class="border w-full h-10 rounded-md mt-1">
                        </div>

                        <div class="w-full flex justify-end mt-5 gap-x-4">
                            <button onclick="display_modal('join-modal')" class="font-semibold font-roboto px-8 py-2 bg-white hover:bg-gray-300 rounded-lg">Close</button>
                            <button onclick="join_room()" class="text-white font-semibold font-roboto px-10 py-2 bg-blue-600 hover:bg-blue-700 rounded-lg">Join</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}